<nav>
    <ul>
        <% if (user) { %>
        <li><a href="/auth/logout">Se deconnecter</a></li>
        <% } else { %>
        <li><a href="/auth/login">s'enregistrer</a></li>
        <% } %>
        <li><a href="/">Accueil</a></li>
        <li><a href="/profile">Profil</a></li>
    </ul>
</nav>