<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <style>
        body{
            font-family: arial;
            margin: 0;
        }
        nav{
            background: #ff5353;
            padding: 20px 10px;
        }
        nav ul{
            max-width: 960px;
            margin: 0 auto;
            padding: 0;
        }
        nav li{
            list-style-type: none;
            display: inline-block;
            margin: 0 10px 0 0;
        }
        nav a{
            color: #fff;
            font-size: 18px;
            background: rgba(255,255,255,0.2);
            text-decoration: none;
            padding: 10px;
            display: block;
        }
        main, header{
            max-width: 960px;
            margin: 30px auto;
            padding: 0 10px;
            color: #333;
        }
        .google-btn{
            color: #fff;
            text-decoration: none;
            font-size: 18px;
            padding: 10px;
            background: #ff5353;
        }
        .gitlab-btn{
            color: #fff;
            text-decoration: none;
            font-size: 18px;
            padding: 10px;
            background: #fc6d26;
        }
    </style>
</head>
<body>
    <%- include('partials/menu') %>
    <header>
        <h1>S'identifier via : </h1>
    </header>
    <main>
        <a class="google-btn" href="/auth/google">Google</a>
        <a class="gitlab-btn" href="/auth/gitlab">Gitlab</a>
    </main>
</body>
</html>